            <!-- -------------- About ---------------- -->

            <section id="about" class="about">
                <div class="gp">
                    <h1><center><u>About</u></center></h1>
                    <p>Infologic *v1.01* was created to serve as a haven for anything information and 
                        information anything :). Well, that's if you understand humor. The site has a
                        lot of potential and the frequent updates will bring out the beauty in it. So 
                        say this version is just the tip of the iceberg.
                    </p>
                </div>
                <div class="gp">
                    <h1><center><u>What to Expect</u></center></h1>
                    <p>
                        Well, expect a lot even from this version. Theres a chat section hidden in the 
                        discussion tab. Worldwide communication goes on in there. The developer took the idea
                        and communication style of his favourite games: "codm, pubg". The blogs are fully
                        updated and ready to be devoured by you.
                    </p>
                </div>
                <div class="gp">
                    <h1><center><u>Should I join?</u></center></h1>
                    <p>
                        Yes! Please do so. Plus if you have any passion for blogging, join as a 
                        writer. Welcome and help develop Infologic.
                    </p>
                </div>
                <div class="gp">
                    <h1><center><u>About the developer</u></center></h1>
                    <p>Well, he's a guy with passion for the tech world. There exists two universes. 
                        The quantumn and the quantumned i.e computing world :). Here is his picture:
                        <img src="" alt="">
                    </p>
                </div>
            </section>

            <!-- --------/----- About --------/------- -->