<!-- Author section with two subsections -->
<section class="author-main">
    <h2>Top 5 Authors {Date}</h2>
    <div class="top-five">
        
        <div class="icon">
            <span class="icon-img">
                <i class="fas fa-user"></i>
            </span>
            <span class="author-name">
                <h4>Admin Xpan</h4>
            </span>
        </div>
        <div class="icon">
            <span class="icon-img">
                <i class="fas fa-user"></i>
            </span>
            <span class="author-name">
                <h4>Admin Xpan</h4>
            </span>
        </div>
        <div class="icon">
            <span class="icon-img">
                <i class="fas fa-user"></i>
            </span>
            <span class="author-name">
                <h4>Admin Xpan</h4>
            </span>
        </div>
        <div class="icon">
            <span class="icon-img">
                <i class="fas fa-user"></i>
            </span>
            <span class="author-name">
                <h4>Admin Xpan</h4>
            </span>
        </div>
        <div class="icon">
            <span class="icon-img">
                <i class="fas fa-user"></i>
            </span>
            <span class="author-name">
                <h4>Admin Xpan</h4>
            </span>
        </div>
    </div>
    
</section>