
<div class="form-group">
    <form action="/authors/createauthor" method="POST">
        <div class="beauthor">
            Fill the below form to be an author in infologic.
            You'll get a tutorial shared to your email :)
        </div>
        <label for="nickname">Nickname:</label>
        <input type="text" name="nickname" required>
        <label for="bio">Bio:</label>
        <textarea name="bio" id="" cols="30" rows="3" required></textarea>
        <button><span>Send</span></button>
    </form>
</div>