<!-- -------------- Contact ---------------- --> 

<section id="contact"> 
    <div class="contact">
         <div class="conl">

         </div>
         <div class="conl">
         
         </div>
         <div class="conl">
         
         </div>
         <div class="conl">
         
         </div>
     </div>
 </section>

 <!-- --------/----- Contact --------/------- -->