<!-- -------------- Contact ---------------- --> 

<section id="contact"> 
    <div class="contact">
         <div class="conl">
            <i class="fab fa-whatsapp"></i>
         </div>
         <div class="conl">
            <i class="fas fa-phone"></i>
         </div>
         <div class="conl">
            <i class="fab fa-github"></i>
         </div>
         <div class="conl">
            <i class="fas fa-mail"></i>
         </div>
     </div>
 </section>

 <!-- --------/----- Contact --------/------- -->