
<section class="latest">
    <div class="boxtopic">
        <h1>Latest</h1><hr class="underhr" />
    </div>

    <div class="blogbox">
        <div class="blogimg">
            <div class="pic"><img src="../images/blog.png" alt="Blog image"></div>
            <div class="blogauthor">
                <h1>Author</h1>
                <h1>Date</h1>
            </div>
        </div>
        <div class="btext">
            <div class="blogtext">
                <h1>Blog topic of the day</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatibus natus placeat error non culpa, iusto, consequunturi? 
                    Voluptates fugiat ullam animi! Placeat error non culpa, iusto, consequunturi? 
                    Voluptates fugiat ullam animi! Placeat error non culpa, iusto, consequunturi? 
                    Voluptates fugiat ullam animi! 
                </p>
            </div>
            <a href="#">...Read more</a>
        </div>
    </div>
</section>
