<!-- -------------- Discussion ---------------- --> 
<section id="talk" class="talk">
    <div class="head">
        <div class="normlist">
            <button>World Chat</button>
            <button>DM</button>
            <button>Friend List</button>
        </div>
        <select class="droplist">
            <option>World Chat</option>
            <option>DM</option>
            <option>Friend List</option>
        </select>
        <!-- Drop discussion tab down -->
        <span class="right"><button onclick="ctalk()"><i class="fas fa-times"></i></button></span>
    </div>
    <div class="chat-body">
        <div class="chat">
            <div class="mg">
                <div>
                    <span class="name">Awwalayo:</span> <span class="message">Hello guys. Good morning.</span>
                </div>
                <div>
                    <span class="name">Prod. Mubzy:</span> <span class="message">Awwa hwfar na.</span>
                </div>
                <div>
                    <span class="name">Kaka:</span> <span class="message">Guys I'm back</span>
                </div>
                <div class="me">
                    <span class="name ">Me:</span> <span class="message">Bosses, who up for a codm match?</span>
                </div>
                <div>
                    <span class="name">Awwalayo:</span> <span class="message">A dey come.</span>
                </div>
                <div>
                    <span class="name">Kaka:</span> <span class="message">I don dey the game already.</span>
                </div>
                <div>
                    <span class="name">Prod. Mubzy:</span> <span class="message">I'm on my way, was making a beat</span>
                </div>
                <div class="me">
                    <span class="name ">Me:</span> <span class="message">Pray network no go disturb</span>
                </div>
                <div>
                    <span class="name">Awwalayo:</span> <span class="message">Amen o</span>
                </div> 
            </div>
            <input type="text" id="mb" placeholder="Type message here">
            <input type="submit" id="mbs" value="Submit">
        </div>
        <div class="ads">

        </div>
    </div>
</section>
<!-- --------/----- Discussion --------/------- --> 