<section class="flex-column">
    <h1><%= error.status %> <i class="fas fa-exclamation-triangle"></i> </h1>
    <h2><%= message %> <i class="fas fa-frown fa-lg"></i> </h2>
    <pre class="highlight"><%= error.stack %></pre>
</section>
