<!-- -------------- Blog Ads and footer ---------------- --> 
    
<footer class="footer" data-aos="zoom-in-left">
    <div class="ads">

    </div>
    <div class="container">
        <div class="author-pick">
            <h2>Author Pick</h2>
            <p> 
                <h3>Author 103</h3><img src="/images/fnf.jpg" alt="p1">
                <span class="author-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Repudiandae aliquid quibusdam iusto praesentium, debitis nostrum 
                    deserunt mollitia corrupti maxime ipsa!</span>
            </p>
        </div>
        <div class="newsletter">
            <h2>Newsletter</h2>
            <p>
                Let's keep you updated
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </p>
        </div>
        <div class="images-slot">
            <h2>Images on ScRoll</h2>
            <div class="flex-row">
                <img src="/images/fnf.jpg" alt="p1">
                <img src="/images/fnf.jpg" alt="p2">
                <img src="/images/fnf.jpg" alt="p3">
            </div>
            <div class="flex-row">
                <img src="/images/fnf.jpg" alt="p1">
                <img src="/images/fnf.jpg" alt="p2">
                <img src="/images/fnf.jpg" alt="p3">
            </div>
            <div class="mew"><i class="fas fa-chevron-right"></i></div>
        </div>
    </div>
    <div class="rights">
        <h4>Copyright © 2021 All rights reserved | Ola Victor xpan:)</h4>
    </div>
    <div class="go-up">
        <span><i class="fa fa-arrow-circle-up fa-2x"></i></span>
    </div>
</footer>

<!-- --------/----- Blog footer --------/------- -->