<!-- -------------- Navigation ---------------- -->

<nav class="navv">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="/" class="">InfoLogic <span class="active-page">
                <% if (title == "Home page") { %>
                    <svg class="fas fa-home"></svg>
                <% }else{ %>
                    <svg class="fas fa-book"></svg>
                <% } %>
            </i></span></a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">
                <li class="nav-link"><a href="/blogs">Home</a></li>
                <li class="nav-link"><a href="/blogs/discover">Discover</a></li>
                <li class="nav-link togtalk"><a href="#">Discussion</a></li>
                <li class="nav-link togabout"><a href="#">About</a></li>
                <li class="nav-link togcontact"><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</nav>
<a href=""><i class="fa fa-user" id="connect"></i></a>

<!-- --------/----- Navigation --------/------- -->