<div class="site-background" data-aos="fade-up-left" data-aos-delay="100" data-aos-duration="1000">
    <h1>Join InfoLogic or become a writer</h1>
    <button class="btn text-white">Join</button>
</div>