<div id="admin">

    <div class="welcome">
        <h1>Welcome Admin</h1>
        <div class="right">
            <h2 id="dt">{Wait for the Date-Time}</h2>
        </div>
    </div>
    
    <div class="admin-container">
        <button>Authors</button>
        <button>Blogs</button>
        <button>Filter</button>
        <button>Search</button>
    </div>

</div>