<body id="discover">
    <!-- --------------  Main Section ---------------- -->
    <!-- ---------- 
        chaotic
        recent randomized :)
        just flex
        maxed up edu
        for the nerds
        meet admin courses
        ----------- -->

    <main>

        <section>
            <section class="unit">
                <div class="boxtopic">
                    <h1>Category</h1><hr class="underhr" />
                </div>

                <div class="custom-select">
                    <select name="" id="" onchange="changetype(shadow, this.value)">
                        <option value="Arts">Arts</option>
                        <option value="Science">Science</option>
                        <option value="Music">Music</option>
                        <option value="Politics">Politics</option>
                        <option value="Sports">Sports</option>
                        <option value="Movies">Movies</option>
                        <option value="Other">Unnamed:)</option>
                    </select>
                    <span class="select-arrow"><i class="fas fa-arrow-down"></i>
                    </span>
                </div>

                <div id="category">

                </div>

                <hr class="unitend" />
            </section>
            
            <section class="unit">
                <div class="boxtopic">
                    <h1>Recent</h1><hr class="underhr" />
                </div>
            
                <div id="RR">
                    
                </div>

                <hr class="unitend" />
            </section>
        </section>
<!--  Author should be here -->
    </main>

    <!-- --------/-----  Main Section --------/------- -->
    <script src="/javascripts/pagination.js"></script>
</body>