<body id="discover">
    <!-- --------------  Main Section ---------------- -->
    <!-- ---------- 
        chaotic
        recent randomized :)
        just flex
        maxed up edu
        for the nerds
        meet admin courses
        ----------- -->

    <main>

        <section>
            <section class="unit" id="category">
                <div class="boxtopic">
                    <h1>Category</h1><hr class="underhr" />
                </div>

                <div class="custom-select">
                    <select name="" id="">
                        <option value="">Arts</option>
                        <option value="">Science</option>
                        <option value="">Music</option>
                        <option value="">Politics</option>
                        <option value="">Sports</option>
                        <option value="">Movies</option>
                        <option value="">Unnamed</option>
                    </select>
                    <span class="select-arrow"><i class="fas fa-arrow-down"></i>
                    </span>
                </div>
                <div class="list" id="list">
            
                </div>

                <div class="pages" id="pages">
            
                </div>

                <hr class="unitend" />
            </section>
            
            <section class="unit">
                <div class="boxtopic">
                    <h1>Chaotic</h1><hr class="underhr" />
                </div>
            
                <div class="blogbox">
                    <div class="blogimg">
                        <div class="pic"><img src="../images/blog.png" alt="Blog image"></div>
                        <div class="blogauthor">
                            <h1>Author</h1>
                            <h1>Date</h1>
                        </div>
                    </div>
                    <div class="btext">
                        <div class="blogtext">
                            <h1>Blog topic of the day</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptatibus natus placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! Placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! Placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! 
                            </p>
                        </div>
                        <a href="#">...Read more</a>
                    </div>
                </div>
                <div class="blogbox">
                    <div class="blogimg">
                        <div class="pic"><img src="../images/blog.png" alt="Blog image"></div>
                        <div class="blogauthor">
                            <h1>Author</h1>
                            <h1>Date</h1>
                        </div>
                    </div>
                    <div class="btext">
                        <div class="blogtext">
                            <h1>Blog topic of the day</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptatibus natus placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! Placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! Placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! 
                            </p>
                        </div>
                        <a href="#">...Read more</a>
                    </div>
                </div>
                <div class="blogbox">
                    <div class="blogimg">
                        <div class="pic"><img src="../images/blog.png" alt="Blog image"></div>
                        <div class="blogauthor">
                            <h1>Author</h1>
                            <h1>Date</h1>
                        </div>
                    </div>
                    <div class="btext">
                        <div class="blogtext">
                            <h1>Blog topic of the day</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptatibus natus placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! Placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! Placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! 
                            </p>
                        </div>
                        <a href="#">...Read more</a>
                    </div>
                </div>
                <div class="blogbox">
                    <div class="blogimg">
                        <div class="pic"><img src="../images/blog.png" alt="Blog image"></div>
                        <div class="blogauthor">
                            <h1>Author</h1>
                            <h1>Date</h1>
                        </div>
                    </div>
                    <div class="btext">
                        <div class="blogtext">
                            <h1>Blog topic of the day</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptatibus natus placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! Placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! Placeat error non culpa, iusto, consequunturi? 
                                Voluptates fugiat ullam animi! 
                            </p>
                        </div>
                        <a href="#">...Read more</a>
                    </div>
                </div>

                <hr class="unitend" />
            </section>
        </section>

        <!-- Author section with two subsections -->
        <section class="author-main">
            <h2>Top 5 Authors {Date}</h2>
            <div class="top-five">
                
                <div class="icon">
                    <span class="icon-img">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="author-name">
                        <h4>Admin Xpan</h4>
                    </span>
                </div>
                <div class="icon">
                    <span class="icon-img">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="author-name">
                        <h4>Admin Xpan</h4>
                    </span>
                </div>
                <div class="icon">
                    <span class="icon-img">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="author-name">
                        <h4>Admin Xpan</h4>
                    </span>
                </div>
                <div class="icon">
                    <span class="icon-img">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="author-name">
                        <h4>Admin Xpan</h4>
                    </span>
                </div>
                <div class="icon">
                    <span class="icon-img">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="author-name">
                        <h4>Admin Xpan</h4>
                    </span>
                </div>
            </div>
            
        </section>
    </main>

    <!-- --------/-----  Main Section --------/------- -->
    <script src="/javascripts/pagination.js"></script>
</body>