<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <link rel="shortcut icon" href="favicon.ico">
          <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
          <link rel="stylesheet" href="/stylesheets/index.css">
     </head>
     <body class="min-vh-100">     
        <header class= "rounded-pill mt-2 d-flex justify-contents-lg-around align-items-center">
            <img src="images/home.svg" alt="" class="p-2 bd-highlight ">
            <h1 class="p-2 flex-grow-1 htitle">InfoLogic</h1>
            <img src="images/user.svg" alt="" class="p-2 bd-highlight ">
          </header>
          
     </body>
     <script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
</html>