<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
	<!-- Flepond -->
	<link rel="stylesheet" href="/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css">
	<script src="/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
	<script src="/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
	<link rel="stylesheet" href="/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css">
	<script src="/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
	<script src="/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
	<link href="/filepond/dist/filepond.css" rel="stylesheet" />
	<script src="/filepond/dist/filepond.js"></script>

	<style media="screen">
		.edits button img{
			width: 1rem;
			height: 1rem;
		}
		.edits button i{
			font-size: 100%;
		}
		#write .edits button{
			margin: 4px;
			height: fit-content !important;
			width: fit-content !important;
		}
		#write .form-master{
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		#write .form-master .form-group{
			flex-wrap: nowrap;
			justify-content: flex-start;
			margin-left: 1px;
			width: 100%;
		}
		#write .form-master .btn-group{
			display: inline-block;
		}
		#textField {
			-moz-appearance: textfield-multiline;
			-webkit-appearance: textarea;
			border: 1px solid gray;
			font: medium -moz-fixed;
			font: -webkit-small-control;
			height: 15rem;
			font-size: 1rem;
			overflow: auto;
			padding: 2px;
			resize: vertical;
			width: 100%;
		}
	</style>
</head>
<body id="write" onload="enableEditMode();">

	<script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
	<script>
		
		FilePond.registerPlugin(
			FilePondPluginImagePreview,
			FilePondPluginImageResize,		
			FilePondPluginImageEdit,
			FilePondPluginFileEncode
		);

		FilePond.setOptions({
			stylePanelAspectRatio: 50 / 50,
			imageResizeTargetWidth: 50,
			imageResizeTargetHeight: 50
		})

		FilePond.parse(document.body)
	</script>
</body>
</html>