body{
     margin: 0;
     font-family: 'Montserrat', sans-serif;
     background-color: white;
     position: relative;
     padding-left: 1%;
     padding-top: 1px;
}
.container{
     background: rgba(200, 200, 200, 0.5);
     width: 95%;
     border: 1px solid red;
     border-radius: 8px;
}
.liar{
     flex-wrap: nowrap;
     overflow-x: scroll;
}
header{
     font-family: 'Sacramento', cursive;
     display: block;
     background-color: rgba(30, 30, 30, 0.3);
     width: 99%;
     margin: 0;
     padding: 2%;
     height: 1rem;
     border: solid ;
     border-color: rgba(255, 0, 0, 0.1);
}
header img{
     width: 3rem;
}
header .htitle{
     font-size: 2.3rem;
     text-align: center;
     font-weight: 700;
}

.top{
     margin: auto;
}

.th{
     font-weight: 500;
}

::-webkit-scrollbar{
     width: 9px;
     height: 8px;
}
::-webkit-scrollbar-thumb{
     background: linear-gradient(transparent, #666666);
     border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
     background: linear-gradient(transparent, #111);
     border-radius: 6px;
}